@model IEnumerable<FYPJ4.Models.News>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ReportAsAt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AccountCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AccountDesc)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FYBudget)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FYSpent)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FYSpentPercent)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FYBalance)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Encumbrance)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Actual)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReportAsAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FYBudget)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FYSpent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FYSpentPercent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FYBalance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Encumbrance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Actual)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
